version: "3"

services:
  adspower:
    # Tip: pin to a specific AdsPower version (e.g. :7.12.29) instead of :latest
    # See available tags at https://github.com/tagsystemsllc/adspower-docker/pkgs/container/adspower-docker
    image: ghcr.io/tagsystemsllc/adspower-docker:latest
    pull_policy: always
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    container_name: adspower
    # Use host network so that the dynamic CDP ports are accessible
    network_mode: host
    # Chrome needs larger shared memory
    shm_size: "2gb"
    # For GUI apps in containers
    security_opt:
      - seccomp=unconfined
    # Required for dbus
    privileged: true
    restart: always
    environment:
      - ADSPOWER_API_KEY=${ADSPOWER_API_KEY}
